<!DOCTYPE html>
<head>
	<title>Donut MV</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<html>
	<body>
		<div class="intro" id="intro_donny">
    		<h1>Meet Donny. He wants to eat a donut.</h1>
    		<p id="tut_step">(try moving around using arrow keys; press space to continue)</p>
    	</div>
    	<canvas id="canvas_donny"></canvas>
    	
	</body>
	<script>
	var canvas = document.getElementById('canvas_donny');
	var context = canvas.getContext("2d");

	var tutorial_step = 0;

	canvas.width = window.innerWidth-100;
	canvas.height = window.innerHeight-100;


	function Point(px, py) {
		this.x = px;
		this.y = py;
		this.height = 10;
		this.width = 10
	}

	Point.prototype.draw = function() {
		context.fillRect(this.x, this.y, this.height, this.width)
	}

	Point.prototype.moveLeft = function() {
		this.x -= 10;
		context.clearRect(0, 0, canvas.width, canvas.height);
		context.fillRect(this.x, this.y, this.height, this.width);
	};

	Point.prototype.moveRight = function() {
		this.x += 10;
		context.clearRect(0, 0, canvas.width, canvas.height);
		context.fillRect(this.x, this.y, this.height, this.width);
	};

	Point.prototype.moveUp = function() {
		this.y -= 10;
		context.clearRect(0, 0, canvas.width, canvas.height);
		context.fillRect(this.x, this.y, this.height, this.width);
	};

	Point.prototype.moveDown = function() {
		this.y += 10;
		context.clearRect(0, 0, canvas.width, canvas.height);
		context.fillRect(this.x, this.y, this.height, this.width);
	};

	var donny = new Point(20,20);
	donny.draw();


	var point_boss, line_boss, plane_boss;

	x = 20;
	window.addEventListener('keydown', function(e) {
		if (e.keyCode == 37) {
			e.preventDefault();
			donny.moveLeft();
		} else if(e.keyCode == 39) {
			e.preventDefault();
			donny.moveRight();
		} else if (e.keyCode == 38) {
			donny.moveUp();
		} else if (e.keyCode == 40) {
			donny.moveDown();
		} else if(e.keyCode == 32) {
			switchText(tutorial_step);
			tutorial_step++;
		}
	});

	function switchText(tutorial_step) {
		switch (tutorial_step) {
			case 0:
				$('#tut_step').text("click space to attack the boss");
				context.fillStyle = "red";
				point_boss = new Point(canvas.width-20, canvas.height-20);
				point_boss.draw();
				context.fillStyle = "black";
		}	

	}




	// create donny
	// var img = new Image();
	// img.src = 'https://opengameart.org/sites/default/files/player_19.png';
	// img.style.height = "10%";
	// img.style.width='10%';


	// var donny = new Sprite(img, 300, 200);
	// donny.draw(20, 20);




	



	</script>
	<style>
		html, body {
			font-family: 'Lato', sans-serif;
			color:black;
			text-align: center;
		}

		#intro_donny {
			height:40px;
			width:100%;
		}



	</style>
</html>